.tiles {
	margin-top: 100px;
	
}
.tile::before {
   opacity: 0;
	transition: all 0.7s;
   content: 'Текст 1';
   text-align: center;
   
   

	
}
.tile:hover::before {
      rgba (0,0,0,0.4);
   border: none;
   margin: 0;
   padding: 0;
   cursor: pointer;
   height: 100%;
   width: 77%;
   position: absolute;
   background: black;
   font-size: 2rem;
   color: white;
   opacity: 1;
   padding-top: 100px;
   display: block;
  
   
}


