@font-face {
  font-family: 'Muller_XB';
  src: url('../fonts/MullerExtraBold.eot');
  src: url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerExtraBold.woff2') format('woff2'), url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf') format('truetype'), url('../fonts/MullerExtraBold.svg#MullerExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_Thin';
  src: url('../fonts/MullerThin.eot');
  src: url('../fonts/MullerThin.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerThin.woff2') format('woff2'), url('../fonts/MullerThin.woff') format('woff'), url('../fonts/MullerThin.ttf') format('truetype'), url('../fonts/MullerThin.svg#MullerThin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_UL';
  src: url('../fonts/MullerUltraLight.eot');
  src: url('../fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerUltraLight.woff2') format('woff2'), url('../fonts/MullerUltraLight.woff') format('woff'), url('../fonts/MullerUltraLight.ttf') format('truetype'), url('../fonts/MullerUltraLight.svg#MullerUltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_light';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff'), url('../fonts/MullerLight.ttf') format('truetype'), url('../fonts/MullerLight.svg#MullerLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_bold';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype'), url('../fonts/MullerBold.svg#MullerBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.main {
  padding: 3rem 0;
  background-color: #473c8d;
}
.main-logo {
  margin-top: 2rem;
  text-align: center;
}
.main-menu {
  text-align: center;
}
.main-menu li {
  display: inline-block;
  margin-left: 3rem;
  font-family: 'Muller_light', sans-serif;
  font-size: 2.5rem;
  margin-top: 3rem;
}
.main-menu a:hover {
  color: #ffec2d;
}
.main-menu a {
  outline: none;
  text-decoration: none;
  color: #fff;
}
.main-link p {
  display: inline-block;
  color: #fff;
  font-family: 'Muller_bold', sans-serif;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.main-link img {
  margin-top: -2.3rem;
}
.main-bg {
  text-align: center;
  background-color: #473c8d;
}
.main-bg-header {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Muller_XB', sans-serif;
  margin: 9rem 0;
}
.main-bg-header h1 {
  font-size: 4rem;
}
.main-bg-header span {
  color: #ffec2d;
}
.main-bg_form {
  margin-top: 3rem;
}
.main-bg_form input {
  margin-right: 2rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem 0;
  outline: none;
  text-align: center;
  font-family: 'Muller_light', sans-serif;
  font-size: 1.7rem;
}
.main-bg_form button {
  border: none;
  outline: none;
  padding: 1rem 3.3rem;
  border-radius: 2rem;
  font-family: 'Muller_light', sans-serif;
  font-size: 1.7rem;
  background-color: #fe6192;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
.main-bg_form button:hover {
  background-color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}
.section-header {
  text-align: center;
  font-family: 'Muller_XB', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #2f2762;
}
.section-header p {
  text-align: center;
  color: #473c8d;
  font-family: 'Muller_light', sans-serif;
  font-size: 2.5rem;
  text-transform: none;
  margin-bottom: 5rem;
}
.features {
  padding: 10rem 0;
}
.features-text {
  color: #2f2762;
  font-family: 'Muller_light', sans-serif;
  font-size: 2rem;
  margin-left: 23rem;
  margin-top: 3rem;
}
.advantages {
  background-color: #fafafa;
  padding: 10rem 0;
  text-align: center;
}
.advantages-block p {
  color: #2f2762;
  font-family: 'Muller_light', sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}
.price {
  padding: 7rem 0;
  text-align: center;
}
.price span {
  display: block;
}
.price-block {
  padding: 3rem 0;
  min-height: 40rem;
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: #a16afb;
}
.price-block span {
  font-family: 'Muller_bold', sans-serif;
  font-size: 2.2rem;
  color: #fff;
  margin-top: 2rem;
}
.price-block p {
  margin-top: 2rem;
  font-family: 'Muller_light', sans-serif;
  font-size: 2rem;
  color: #fff;
}
.price-block button {
  border: none;
  outline: none;
  padding: 1rem 3.3rem;
  border-radius: 2rem;
  font-family: 'Muller_light', sans-serif;
  font-size: 1.7rem;
  background-color: #fe6192;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
.price-block button:hover {
  background-color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}
.second {
  margin-top: 8rem;
}
.third {
  margin-top: 4.6rem;
}
footer {
  padding: 4rem 0;
  background-color: #3b3274;
}
footer button {
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 3.3rem;
  border-radius: 2rem;
  font-family: 'Muller_light', sans-serif;
  font-size: 1.7rem;
  background-color: #fe6192;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
footer button:hover {
  background-color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}
.popup-form {
  display: none;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  position: fixed;
  padding-top: 10rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.popup-form h2 {
  font-size: 2rem;
  color: #fff;
}
.popup-form input {
  margin-right: 2rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem 0;
  outline: none;
  text-align: center;
  font-family: 'Muller_light', sans-serif;
  font-size: 1.7rem;
}
.mail-btn {
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 5rem;
  border-radius: 2rem;
  font-family: 'Muller_light', sans-serif;
  font-size: 1.7rem;
  background-color: #fe6192;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
.popup-close {
  position: absolute;
  top: -1rem;
  right: 3rem;
  width: 3rem;
  background-color: transparent;
  background-color: none;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
  font-size: 5rem;
}
.mail-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 40rem;
  padding-top: 25rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.mail-popup-dialog {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fe6192;
  border: 5px solid #fff;
}
.mail-popup-dialog h4 {
  text-align: center;
  font-family: 'Muller_light', sans-serif;
  font-size: 2rem;
  color: #fff;
}
.mail-popup-close {
  position: absolute;
  top: 24rem;
  right: 41rem;
  width: 2rem;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
  font-size: 3rem;
}
@media (max-width: 565px) {
  .main {
    text-align: center;
  }
  .main h1 {
    font-size: 2.5rem;
  }
  .main-menu ul {
    padding: 0;
  }
  .main-bg img {
    width: 100%;
    height: auto;
    margin-left: 3rem;
  }
  .main-bg_form {
    text-align: center;
  }
  .main-bg_form button {
    padding: 1rem 1.7rem;
  }
  .main-bg_form input {
    margin: 0;
  }
  .features {
    padding: 5rem 0;
  }
  .features h2 {
    font-size: 2.5rem;
  }
  .features-text {
    margin: 1rem;
    margin-top: 3rem;
    font-size: 1.7rem;
  }
  .advantages {
    padding: 5rem 0;
    text-align: center;
  }
  .advantages h2 {
    font-size: 2.5rem;
  }
  .advantages-block p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
  .section-header p {
    font-size: 2rem;
  }
  footer {
    text-align: center;
  }
}
