/* Fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
/* Форма */
.form-input,
.form-textarea {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
}
/* Typography */
section {
  padding: 10rem auto;
}
.section-header {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/* main */
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button,
a,
input,
textarea {
  outline: none;
}
.button {
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  background-color: #f7ae01;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  background-color: #de9c01;
}
.section-header-logo {
  margin-top: 1rem;
}
.main {
  background: #ffffff url(../img/pereezd.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 5rem;
}
.main-content {
  margin-top: 10rem;
}
.main h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  color: #fff;
  margin-bottom: 4rem;
  line-height: 1.45;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
}

.main-title h1{
  background-color: rgba(85, 165, 18, 0.8);
  padding: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.main-subtitle {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #55a512;
  text-align: center;
}
.main strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
  margin-top: 3rem;
  color: #fff;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.4rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  color: #000;
  line-height: 7rem;
}
/* .phone-link:hover {
  color: black;
} */
.phone-block {
  text-align: right;
}

.logo {
  max-height: 10rem;
  max-width: 12rem;
}
.features {
  padding-bottom: 8rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 20rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  z-index: 99;
  top: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.prev {
  background: url(../img/arrow-left.svg) center no-repeat;
  background-size: 70%;
  left: 0;
}
.next {
  background: url(../img/arrow-right.svg) center no-repeat;
  background-size: 70%;
  right: 0;
}
/* Блок с  ценами */
.price {
  padding-bottom: 10rem;
  background: #ffffff url(../img/prices/prices-bg.jpg) center;
  /* Карточки */
}
.price-header-btn {
  margin-top: 10rem;
}
.price-button {
  text-align: right;
}
.price-block {
  min-height: 40rem;
  padding: 1rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  font-size: 1.9rem;
  margin: 3rem 0;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
.price-tag {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
  margin-bottom: 2rem;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  background: url(../img/checked.svg) repeat;
  background-size: 130%;
  vertical-align: middle;
}
/* Отзывы */
.feedback {
  position: relative;
  border: none;
  padding: 0 15rem;
  background: url(../img/feedback/main-bg.jpg) center no-repeat;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  font-style: italic;
  border: 2px solid #55a512;
  padding: 1rem;
  margin-top: 2rem;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #55a512;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #55a512;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.feedback h2 {
  text-align: center;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40rem;
}
/* Схемы  */
.fa {
  margin-top: 4rem;
  font-size: 10rem;
  color: #55a512;
}
.scheme {
  background: #ffffff url(../img/scheme/6.png) bottom -10rem right -10rem no-repeat;
  background-size: 60rem;
}
.scheme-block {
  font-family: 'ProximaNova_Reg', sans-serif;
  min-height: 30rem;
}
.scheme h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-align: left;
}
/* .main-bg {
		position: absolute;
		background-size: 40rem;
		right: 0;
		margin-bottom: 20rem;
	} */
/* Все на 100% */
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .section-header_active .text-one {
  margin-bottom: 10rem;
}
.all-inclusive .media {
  min-height: 10rem;
}
.all-inclusive .media h4 {
  text-align: left;
  font-family: 'ProximaNova_bold', sans-serif;
}
.all-inclusive .media p {
  font-size: 1.2rem;
  text-align: left;
}
.circle {
  display: inline-block;
  background-color: #55a512;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #55a512;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
/* мы развеем все опасеня */
.problems {
  position: relative;
  margin-bottom: 10rem;
}
.problems-woman {
  position: absolute;
  width: 30rem;
  bottom: 0rem;
  left: 50%;
  margin-left: -18rem;
  margin-bottom: -10rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 36rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  padding-top: 2rem;
  padding-left: 0;
  list-style: none;
}
.problems-list ul li {
  position: relative;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #000;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/bad.svg) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #55a512;
}
.problems-list_good ul li:before {
  background: url(../img/problems/good.svg) center no-repeat;
  background-size: 80%;
}
.materials {
  background: #ffffff url(../img/materials/materials-bg.jpg) center no-repeat;
  background-size: cover;
  margin-top: 10rem;
  padding-bottom: 10rem;
}
.materials-text {
  display: block;
}
.materials-link {
  display: inline-block;
}
.materials-slider {
  padding-top: 5rem;
}
.materials img {
  display: block;
  margin: 0 auto;
}
.materials-offer {
  text-align: center;
  margin-top: 4rem;
}
.materials a {
  color: #55a512;
}
.materials a:hover {
  color: #3d770d;
  border-bottom: 1px dotted #55a512;
}
.materials-img {
  margin-top: 5rem;
}
/* tour */
.tour {
  background: #ffffff url(../img/tour/tour-bg.jpg) right -10rem center no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}
.tour-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
.tour h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 2rem;
}
.tour-subtitle {
  font-size: 2rem;
  font-family: 'ProximaNova_Reg', sans-serif;
}
/* upsell */
.upsell {
 background-color: #f5f5f5;
 text-align: center;
}
.upsell img {
  min-height: 7rem;
}
.upsell p {
  margin-top: 1rem;
}
.upsell-logo {
  margin-bottom: 5rem;
   font-family: 'ProximaNova_bold', sans-serif;
}
/* contacts */
.contacts {
  background: #ffffff url(../img/materials/materials-bg.jpg) center no-repeat;
  padding: 7rem 0;
  font-size: 1.5rem;
}
.contacts .map {
  margin-bottom: 2rem;
}
.contacts p {
  font-family: 'ProximaNova_Reg', sans-serif;
}
.contacts .links {
  border-bottom: 1px dotted #1a1820;
  color: #1a1820;
  display: inline-block;
}
.contacts-data h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts-form {
  margin-bottom: 3rem;
}
.contacts-form h2 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_Reg', sans-serif;
}
/* logo */
footer {
  padding: 3rem 0;
}
footer .footer-contacts {
  display: block;
  padding-top: 1rem;
  text-align: center;
}
footer .footer-dev-logo {
  text-align: right;
}
/* Медиа запросы */
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  position: absolute;
  top: -1.6rem;
  right: -2rem;
  width: 2rem;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  border: none;
  font-size: 3rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  padding: 1rem;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1190px) {
  .feedback-form {
    padding: 2rem 5rem;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
  .problems {
    min-height: 40rem;
  }
  .problems-list {
    margin-bottom: 2rem;
  }
  .contacts {
    background: none;
    background-color: #f5f5f5;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header-light {
    margin-bottom: 0;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-woman {
    display: none;
  }
  .tour {
    margin: 0;
    background: none;
    background-color: #f5f5f5;
    padding: 10rem;
  }
  .tour .main-title {
    text-align: center;
  }
  .tour .main-title .main-content {
    text-align: center;
  }
  .contacts {
    background: none;
    background-color: #f5f5f5;
  }
  .contacts-form {
    margin: 0 10rem;
  }
  footer .logo {
    text-align: center;
  }
  footer .footer-dev-logo {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  h1 {
    font-size: 2.5rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback {
    padding: 3rem;
  }
  .feedback form {
    margin: 0 6rem;
  }
  .feedback-slider {
    width: 100%;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    text-align: center;
    min-height: 20rem;
    background: none;
  }
  .scheme h3 {
    text-align: center;
  }
  .all-inclusive {
    text-align: center;
    margin: auto 7rem;
  }
}
@media (max-width: 565px) {
  .main h1 {
    font-size: 2.5rem;
  }
  .fotorama {
    width: 5rem;
  }
  .scheme {
    text-align: center;
    min-height: 20rem;
    background: none;
  }
  .scheme h3 {
    text-align: center;
  }
  .feedback-slider .fotorama {
    width: 100%;
  }
  .feedback-form {
    padding: 0;
  }
  .tour {
    padding: 0;
  }
  .contacts-form {
    margin: 0 1rem;
  }
}
