@font-face {
  font-family: 'Com_Bold';
  src: url('../fonts/Comfortaa-Bold.eot');
  src: url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa-Bold.woff2') format('woff2'), url('../fonts/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa-Bold.ttf') format('truetype'), url('../fonts/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa_Light';
  src: url('../fonts/Comfortaa-Light.eot');
  src: url('../fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa-Light.woff2') format('woff2'), url('../fonts/Comfortaa-Light.woff') format('woff'), url('../fonts/Comfortaa-Light.ttf') format('truetype'), url('../fonts/Comfortaa-Light.svg#Comfortaa-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_Med';
  src: url('../fonts/MullerMedium.eot');
  src: url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype'), url('../fonts/MullerMedium.svg#MullerMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_Bold';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype'), url('../fonts/MullerBold.svg#MullerBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_Light';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff'), url('../fonts/MullerLight.ttf') format('truetype'), url('../fonts/MullerLight.svg#MullerLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller_Reg';
  src: url('../fonts/MullerRegular.eot');
  src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular.svg#MullerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.main {
  text-align: center;
}
.main-menu li {
  display: inline-block;
  margin-left: 3rem;
  font-family: 'Muller_Light', sans-serif;
  font-size: 2.5rem;
  margin-top: 3rem;
}
.main-menu a {
  outline: none;
  text-decoration: none;
  color: #070707;
}
.img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}
.menu {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0rem;
}
.link {
  margin-left: 0rem;
  text-align: center;
  display: inline-block;
}
.link p {
  font-family: 'Muller_Bold', sans-serif;
  font-size: 2.1rem;
}
.link button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Muller_Light', sans-serif;
  background-color: #eb4f24;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-header {
  background: url(../img/main/key-bg.png) top 10rem center no-repeat;
  background-size: cover;
  padding-top: 15rem;
  margin: 0;
  background-color: #393c5b;
}
.main-header h1 {
  font-family: 'Muller_Bold', sans-serif;
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
}
.main-header button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Muller_Light', sans-serif;
  background-color: #eb4f24;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2.5rem;
}
.scroll {
  margin-top: 25rem;
  margin-bottom: 4rem;
  text-align: center;
}
.section-header {
  text-align: center;
  font-family: 'Muller_Bold', sans-serif;
  font-size: 4rem;
}
.features {
  padding-top: 5rem;
  padding-bottom: 10rem;
  text-align: center;
}
.features p {
  font-family: 'Muller_Light', sans-serif;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.features img {
  margin-top: 3rem;
}
.form {
  padding: 5rem 0;
  background-color: #f6d403;
  text-align: center;
}
.form button {
  font-family: 'Muller_Light', sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #eb4f24;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
}
.form input {
  padding: 1rem 1rem;
  font-size: 1.9rem;
  border: none;
  margin-right: 2rem;
  color: #393c5b;
  text-align: center;
}
.form h2 {
  margin-bottom: 4rem;
}
.input {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}
.input_second {
  background-image: url(../img/phone-call.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}
.skills,
.response {
  background-color: #eafcfe;
  padding: 10rem 0;
  text-align: center;
}
.skills h2,
.response h2 {
  margin-bottom: 5rem;
}
.skills p,
.response p {
  color: #393c5b;
  font-family: 'Muller_Light', sans-serif;
  font-size: 2.3rem;
  margin-top: 2rem;
}
.skills span,
.response span {
  font-family: 'Muller_Bold', sans-serif;
  font-size: 2.3rem;
}
.skills img,
.response img {
  margin-top: 5rem;
}
.process {
  padding: 10rem 0;
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
  text-align: center;
}
.process h4 {
  margin-top: 4rem;
  color: #e84c20;
  font-family: 'Muller_Bold', sans-serif;
  font-size: 4.7rem;
}
.process h3 {
  font-size: 2.7rem;
  font-family: 'Muller_Bold', sans-serif;
  color: #e84c20;
}
.process p {
  color: #393c5b;
  font-size: 2.5rem;
  font-family: 'Muller_Light', sans-serif;
}
.process button {
  font-family: 'Muller_Light', sans-serif;
  background-color: #eb4f24;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer {
  background-color: #e7e7e7;
  text-align: center;
}
footer button {
  margin-top: 4rem;
  border-radius: 0.5rem;
  font-family: 'Muller_Light', sans-serif;
  background-color: #eb4f24;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer img {
  display: inline-block;
}
footer p {
  margin-top: 1rem;
  display: inline-block;
  font-family: 'Muller_Bold', sans-serif;
  font-size: 1.7rem;
}
footer a {
  font-size: 2rem;
}
button:hover {
  background-color: green;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block {
  display: block;
  margin-top: 3rem;
}
.logo {
  margin-top: 4rem;
}
.footer-menu {
  margin-top: 2rem;
}
.footer-menu li {
  margin-left: 3rem;
  font-family: 'Muller_Light', sans-serif;
  font-size: 2.5rem;
  margin-top: 1rem;
  list-style-type: none;
}
.footer-menu a {
  outline: none;
  text-decoration: none;
  color: #070707;
}
.mail-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 40rem;
  padding-top: 25rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.mail-popup-dialog {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eb4f24;
  border: 5px solid #fff;
}
.mail-popup-dialog h4 {
  text-align: center;
  font-family: 'Muller_Light', sans-serif;
  font-size: 2rem;
  color: #fff;
}
.mail-popup-close {
  position: absolute;
  top: 24rem;
  right: 41rem;
  width: 2rem;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
  font-size: 3rem;
}
.response {
  display: none;
}
.mail-form {
  display:none;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 15rem;
  text-align: center;
}
.mail-form input {
  display: block;
  margin: 0 auto;
  padding: 1rem 1rem;
  font-size: 1.9rem;
  border: none;
  margin-bottom: 2rem;
  color: #393c5b;
  text-align: center;
}
.mail-form h2 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.input {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}
.input_second {
  background-image: url(../img/phone-call.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}
.mail-btn {
  font-family: 'Muller_Light', sans-serif;
  background-color: #eb4f24;
  padding: 1rem 1.7rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
}
.popup-close {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 9rem;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  font-size: 5rem;
}
@media (max-width: 565px) {
  .skills {
    display: none;
  }
  .response {
    display: block;
  }
  .response img {
    max-width: 100% !important;
    height: auto;
    display: block;
  }
  .response p {
    font-size: 1.8rem;
  }
  .response span {
    font-size: 1.7rem;
  }
  .menu {
    margin-right: 10rem;
  }
  .link {
    margin-top: 2rem;
  }
  .link button {
    margin-bottom: 3rem;
  }
  .header {
    text-align: center;
  }
  .header h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .header button {
    margin-top: 5rem;
  }
  .features p {
    font-size: 2rem;
  }
  .form input {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .form button {
    padding: 1rem 1.7rem;
  }
  .process h4 {
    font-size: 3.5rem;
  }
  .process h3 {
    font-size: 2.5rem;
  }
  .process p {
    font-size: 2rem;
  }
  .footer-menu {
    margin-right: 7rem;
  }
  footer button {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  footer p {
    margin-top: 1rem;
  }
}
